# 豆包
DOUBAO_APP_KEY=your_appid
DOUBAO_ACCESS_TOKEN=your_token
DOUBAO_VOICE_TYPE=zh_female_tianmeixiaoyuan_moon_bigtts
DOUBAO_CLUSTER=volcengine_streaming_common

# OpenAI API 配置
OPENAI_API_KEY=your_api_key
OPENAI_BASE_URL=your_base_url
OPENAI_MODEL=your_model
OPENAI_TTS_MODEL=your_tts_model
OPENAI_ASR_MODEL=your_asr_model

# QWEN API KEY
QWEN_API_KEY=your_api_key

# 智谱
GLM_API_KEY=your_api_key

# MiniMax
MINIMAX_API_KEY=your_api_key
